<style lang="">

</style>

<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <PageHeading>
            <template #title>{{$t('managers_authorization')}}</template>
            <template #actions>
                <div class="title-action">
                    <!-- <a class="btn btn-primary" href="">This is action area</a> -->
                </div>
            </template>
        </PageHeading>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
            <div class="col-sm-8">
                <IBox>
                    <template v-slot:ibox-content>
                        <!--                        <span class="text-muted small float-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>-->
                        <h2>{{ $t('authorization') }}</h2>
                        <p>{{ $t('authorization_managers_edit_title') }}</p>
                        <div class="input-group">
                            <input type="text" placeholder="Search..." class="input form-control" v-model="search">
                            <span class="input-group-append"><button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> {{$t('search')}}</button></span>
                        </div>
                        <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <li><a v-on:click="changeEntity('manager')" class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> {{$t('managers')}} <span class="label counter">{{managers.length}}</span></a></li>
                                <li><a v-on:click="changeEntity('role')" class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-user-plus" aria-hidden="true"></i> {{$t('roles')}} <span class="label counter">{{roles.length}}</span></a></li>
                                <li><a v-on:click="changeEntity('permission')" class="nav-link" data-toggle="tab" href="#tab-3"><i class="fa fa-universal-access" aria-hidden="true"></i> {{$t('permissions')}} <span class="label counter">{{permissions.length}}</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>{{$t('name')}}</th>
                                                    <th>{{$t('email')}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(item, index) in listByTitle" v-on:click="dashManager(item, index)" v-bind:key="item.id">
                                                    <td>
                                                        {{item.name}}
                                                    </td>
                                                    <td>
                                                        {{item.email}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="wrap-actions">
                                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#managerModal">{{$t('new')}}</button>
                                                <div class="modal inmodal" id="managerModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content animated bounceInRight">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                <i class="fa fa-address-card-o modal-icon"></i>
                                                                <h4 class="modal-title">Add new manager</h4>
                                                                <small class="font-bold">A new user will be created with manager authority</small>
                                                            </div>
                                                            <form id="form-new-manager" v-on:submit="createManager">
                                                            <div class="modal-body">
                                                                <p>Please fill in all the required fields of the form, then press the <strong>"Create account"</strong> button.</p>
                                                                <div class="form-group">
                                                                    <label>{{$t('name')}}</label>
                                                                    <input type="text" name="name" placeholder="Enter name" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('email')}}</label>
                                                                    <input type="email" name="email" placeholder="Enter email" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('password')}}</label>
                                                                    <input type="text" name="password" placeholder="Enter password" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-white" data-dismiss="modal">{{$t('close')}}</button>
                                                                <button type="submit" class="btn btn-primary">{{$t('add')}}</button>
                                                            </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>{{$t('name')}}</th>
                                                    <th>{{$t('guard_name')}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(item, index) in listByTitle" v-on:click="dashRole(item, index)" v-bind:key="item.id">
                                                    <td>
                                                        {{item.name}}
                                                    </td>
                                                    <td>
                                                        {{item.guard_name}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="wrap-actions">
                                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#roleModal">{{$t('new')}}</button>
                                                <div class="modal inmodal" id="roleModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content animated bounceInRight">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                <i class="fa fa-users modal-icon"></i>
                                                                <h4 class="modal-title">Add new role</h4>
                                                                <small class="font-bold">You can create a new user role and define its authority</small>
                                                            </div>
                                                            <form id="form-new-role" v-on:submit="createRole">
                                                                <div class="modal-body">
                                                                    <p>Please fill in all the required fields of the form, then press the <strong>"Create role"</strong> button.</p>
                                                                    <div class="form-group">
                                                                        <label>{{$t('name')}}</label>
                                                                        <input type="text" name="name" placeholder="Enter name" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>{{$t('guard_name')}}</label>
                                                                        <input type="text" name="guard" placeholder="Enter guard name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-white" data-dismiss="modal">{{$t('close')}}</button>
                                                                    <button type="submit" class="btn btn-primary">{{$t('add')}}</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>{{$t('name')}}</th>
                                                    <th>{{$t('guard_name')}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(item, index) in listByTitle" v-on:click="dashPermission(item, index)" v-bind:key="item.id">
                                                    <td>
                                                        {{item.name}}
                                                    </td>
                                                    <td>
                                                        {{item.guard_name}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="wrap-actions">
                                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#permissionModal">{{$t('new')}}</button>
                                                <div class="modal inmodal" id="permissionModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content animated bounceInRight">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                <i class="fa fa-unlock modal-icon"></i>
                                                                <h4 class="modal-title">Add new permission</h4>
                                                                <small class="font-bold">You can create a new permission and define its authority</small>
                                                            </div>
                                                            <form id="form-new-permission" v-on:submit="createPermission">
                                                                <div class="modal-body">
                                                                    <p>Please fill in all the required fields of the form, then press the <strong>"Create permission"</strong> button.</p>
                                                                    <div class="form-group">
                                                                        <label>{{$t('name')}}</label>
                                                                        <input type="text" name="name" placeholder="Enter permission name" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>{{$t('guard_name')}}</label>
                                                                        <input type="text" name="guard" placeholder="Enter guard name" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-white" data-dismiss="modal">{{$t('close')}}</button>
                                                                    <button type="submit" class="btn btn-primary">{{$t('add')}}</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </template>
                </IBox>
            </div>
            <div class="col-sm-4">
                <div class="ibox selected">

                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-1" class="tab-pane active">
                                <div class="row m-b-lg">
                                    <div class="col-lg-12">
                                        <h2 v-if="dashed_item.id == 0">Choose the record to edit</h2>
                                        <h2 v-if="dashed_item.id != 0">{{$t('dashed')}} {{dashed_item.alias}}: <span>{{dashed_item.id}}</span></h2>
                                    </div>
                                </div>
                                <div class="row m-b-lg" v-if="dashed_item.id != 0">
                                    <div class="col-lg-4">
                                        <h3>{{dashed_item.name}}</h3>
                                    </div>
                                    <div class="col-lg-8" v-if="dashed_item.alias == 'manager'">
                                        <strong class="spec-data">{{$t('special_data')}}:</strong>
                                        <p class="line-sub">{{$t('email')}}: {{dashed_item.email}}</p>
                                        <p>{{$t('post_id')}}: {{dashed_item.post_id}}</p>
                                        <button type="button" class="btn btn-warning btn-sm btn-block" v-on:click="getManager(dashed_item)" data-toggle="modal" data-target="#managerEditModal">
                                            <i class="fa fa-pencil-square-o"></i> {{$t('edit')}}
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm btn-block" v-on:click="removeManager(dashed_item.id, dashed_item.index)">
                                            <i class="fa fa-times"></i> {{$t('remove')}}
                                        </button>
                                        <div class="modal inmodal" id="managerEditModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <i class="fa fa-address-card-o modal-icon"></i>
                                                        <h4 class="modal-title">Edit manager <strong>{{current_manager.name}}</strong></h4>
                                                        <small class="font-bold">A new user will be created with manager authority</small>
                                                    </div>
                                                    <form id="form-edit-manager" v-on:submit="editManager">
                                                        <div class="modal-body">
                                                            <p>Please fill in all the required fields of the form, then press the <strong>"Update"</strong> button.</p>
                                                            <div class="form-group">
                                                                <label>{{$t('name')}}</label>
                                                                <input type="text" name="name" placeholder="Enter name" class="form-control" v-model="current_manager.name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>{{$t('email')}}</label>
                                                                <input type="email" name="email" placeholder="Enter email" class="form-control" v-model="current_manager.email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>{{$t('password')}}</label>
                                                                <input type="text" name="password" placeholder="Enter password" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">{{$t('update')}}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8" v-if="dashed_item.alias == 'role'">
                                        <strong class="spec-data">{{$t('special_data')}}:</strong>
                                        <p>{{$t('guard_name')}}: {{dashed_item.guard_name}}</p>
                                        <button type="button" class="btn btn-warning btn-sm btn-block" v-on:click="getRole(dashed_item)" data-toggle="modal" data-target="#roleEditModal">
                                            <i class="fa fa-pencil-square-o"></i> {{$t('edit')}}
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm btn-block" v-on:click="removeRole(dashed_item.id, dashed_item.index)">
                                            <i class="fa fa-times"></i> {{$t('remove')}}
                                        </button>
                                        <div class="modal inmodal" id="roleEditModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <i class="fa fa-address-card-o modal-icon"></i>
                                                        <h4 class="modal-title">{{$t('edit')}} {{$t('role')}} <strong>"{{current_role.name}}"</strong></h4>
                                                        <small class="font-bold">Yuo can edit the user role</small>
                                                    </div>
                                                    <form id="form-edit-role" v-on:submit="editRole">
                                                        <div class="modal-body">
                                                            <p>Please fill in all the required fields of the form, then press the <strong>"Update"</strong> button.</p>
                                                            <div class="form-group">
                                                                <label>{{$t('name')}}</label>
                                                                <input type="text" name="name" placeholder="Enter name" class="form-control" v-model="current_role.name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>{{$t('guard_name')}}</label>
                                                                <input type="text" name="email" placeholder="Enter email" class="form-control" v-model="current_role.guard_name">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">{{$t('update')}}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8" v-if="dashed_item.alias == 'permission'">
                                        <strong class="spec-data">{{$t('special_data')}}:</strong>
                                        <p>{{$t('guard_name')}}: {{dashed_item.guard_name}}</p>
                                        <button type="button" class="btn btn-warning btn-sm btn-block" v-on:click="getPermission(dashed_item)" data-toggle="modal" data-target="#permissionEditModal">
                                            <i class="fa fa-pencil-square-o"></i> {{$t('edit')}}
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm btn-block" v-on:click="removePermission(dashed_item.id, dashed_item.index)">
                                            <i class="fa fa-times"></i> {{$t('remove')}}
                                        </button>
                                        <div class="modal inmodal" id="permissionEditModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <i class="fa fa-address-card-o modal-icon"></i>
                                                        <h4 class="modal-title">Edit permission <strong>"{{current_permission.name}}"</strong></h4>
                                                        <small class="font-bold">A new user will be created with permission authority</small>
                                                    </div>
                                                    <form id="form-edit-permission" v-on:submit="editPermission">
                                                        <div class="modal-body">
                                                            <p>Please fill in all the required fields of the form, then press the <strong>"Update"</strong> button.</p>
                                                            <div class="form-group">
                                                                <label>{{$t('name')}}</label>
                                                                <input type="text" name="name" placeholder="Enter name" class="form-control" v-model="current_permission.name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>{{$t('guard_name')}}</label>
                                                                <input type="email" name="email" placeholder="Enter email" class="form-control" v-model="current_permission.email">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white" data-dismiss="modal">{{$t('close')}}</button>
                                                            <button type="submit" class="btn btn-primary">{{$t('update')}}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

</template>

<script>
    import IBox from "../../components/IBox";
    import PageHeading from "../../components/PageHeading";
    import axios from "axios";

    export default {
        data: function () {
            return {
                search: '',
                alias: 'manager',
                managers: [],
                roles: [],
                permissions: [],
                dashed_item: {},
                current_manager: {
                    id: 0,
                    name: '',
                    email: '',
                    avatar: '',
                    password: ''
                },
                current_role: {
                    id: 0,
                    name: '',
                    guard_name: ''
                },
                current_permission: {
                    id: 0,
                    name: '',
                    guard_name: ''
                }
            }
        },
        components: {IBox, PageHeading},
        middleware: ['auth','access'],
        computed: {
            managers_list() {
                return this.$store.getters["managers/managers"] || [];
            },
            roles_list() {
                return this.$store.getters["roles/roles"] || [];
            },
            permissions_list() {
                return this.$store.getters["permissions/permissions"] || [];
            },
            listByTitle() {
                switch(this.alias) {
                    case 'manager':
                        return this.managers.filter(item => item.name.indexOf(this.search) !== -1);
                        break;
                    case 'role':
                        return this.roles.filter(item => item.name.indexOf(this.search) !== -1);
                        break;
                    case 'permission':
                        return this.permissions.filter(item => item.name.indexOf(this.search) !== -1);
                        break;
                }
            },
        },
        mounted() {
            Promise.all([
                this.$lazyLoad("/js/plugins/slimscroll/jquery.slimscroll.min.js"),
            ]).then(() => {
                $('.full-height-scroll').slimscroll({
                    height: '100%'
                })
            });
            this.$store.dispatch('managers/getManagers');
            this.$store.dispatch('roles/getRoles');
            this.$store.dispatch('permissions/getPermissions');
        },
        methods: {
            //-----> Managers
            createManager(submitEvent) {
                let user_name = submitEvent.target.elements.name.value;
                let user_email = submitEvent.target.elements.email.value;
                let user_password = submitEvent.target.elements.password.value;

                let url = '/api/www/managers/create';
                let new_manager = {
                    name: user_name,
                    email: user_email,
                    password: user_password
                };
                axios.post(url, new_manager)
                    .then((response) => {
                        console.log(response);
                    })
            },
            getManager(user) {
                this.current_manager.id = user.id;
                this.current_manager.name = user.name;
                this.current_manager.email = user.email;
            },
            dashManager(user, index) {
                this.dashed_item = {};
                this.dashed_item = {
                    alias: 'manager',
                    id: user.id,
                    name: user.name,
                    email: user.email,
                    post_id: user.post_id,
                    index: index
                }
            },
            editManager(submitEvent) {
                let id = this.current_manager.id;
                let manager_name = submitEvent.target.elements.name.value;
                let manager_email = submitEvent.target.elements.email.value;
                let manager_password = submitEvent.target.elements.password.value;
                let url = '/api/www/managers/edit/' + id;
                let edited_manager = {
                    id: id,
                    name: manager_name,
                    email: manager_email,
                    password: manager_password
                };
                axios.post(url, edited_manager)
                    .then((response) => {
                        console.log(response);
                    })
            },
            removeManager(id, index) {
                if (confirm("Do you really want to remove manager?")) {
                    let app = this;
                    let url = '/api/www/managers/delete/' + id;
                    axios.post(url, {id: id, index: index})
                        .then(function (resp) {
                            console.log('Response: ', resp);
                            app.managers.splice(index, 1);
                        })
                        .catch(function (resp) {
                            console.log('Response: ', resp);
                            alert("Could not delete manager");
                        });
                    this.dashed_item = {};
                }
            },
            //-----> Roles
            createRole(submitEvent) {
                let role_name = submitEvent.target.elements.name.value;
                let guard_name = submitEvent.target.elements.guard.value;
                let url = '/api/www/authorization/roles/create';
                let new_role = {
                  name: role_name,
                  guard_name: guard_name
                };
                axios.post(url, new_role)
                    .then((response) => {
                        console.log(response);
                    })
            },
            getRole(id, name, guard) {
                this.current_role.id = id;
                this.current_role.name = name;
                this.current_role.guard_name = guard;
            },
            dashRole(role, index) {
                this.dashed_item = {};
                this.dashed_item = {
                    alias: 'role',
                    id: role.id,
                    name: role.name,
                    guard_name: role.guard_name,
                    index: index
                }
            },
            editRole(submitEvent) {
                let id = this.current_role.id;
                let role_name = submitEvent.target.elements.name.value;
                let guard_name = submitEvent.target.elements.guard.value;
                let url = '/api/www/authorization/roles/edit/' + id;
                let edited_role = {
                    name: role_name,
                    guard_name: guard_name
                };
                axios.post(url, edited_role)
                    .then((response) => {
                        console.log(response);
                    })
            },
            removeRole(id, index) {
                if (confirm("Do you really want to delete this role?")) {
                    let app = this;
                    let url = '/api/www/authorization/roles/delete/' + id;
                    axios.post(url, {id: id, index: index})
                        .then(function (resp) {
                            console.log('Response: ', resp);
                            app.roles.splice(index, 1);
                        })
                        .catch(function (resp) {
                            console.log('Response: ', resp);
                            alert("Could not delete role");
                        });
                    this.dashed_item = {};
                }
            },
            //-----> Permissions
            createPermission(submitEvent) {
                let name = submitEvent.target.elements.name.value;
                let guard_name = submitEvent.target.elements.guard.value;
                let url = '/api/www/authorization/permissions/create';
                let new_permission = {
                    name: name,
                    guard_name: guard_name
                };
                axios.post(url, new_permission)
                    .then((response) => {
                        console.log(response);
                    })
            },
            getPermission(id, name, guard) {
                this.current_permission.id = id;
                this.current_permission.name = name;
                this.current_permission.guard_name = guard;
            },
            dashPermission(permission, index) {
                this.dashed_item = {};
                this.dashed_item = {
                    alias: 'permission',
                    id: permission.id,
                    name: permission.name,
                    guard_name: permission.guard_name,
                    index: index
                }
            },
            editPermission(submitEvent) {
                let id = this.current_permission.id;
                let name = submitEvent.target.elements.name.value;
                let guard_name = submitEvent.target.elements.guard.value;
                let url = '/api/www/authorization/permissions/edit/' + id;
                let edited_permission = {
                    id: id,
                    name: name,
                    guard_name: guard_name
                };
                axios.post(url, edited_permission)
                    .then((response) => {
                        console.log(response);
                    })
            },
            removePermission(id, index) {
                if (confirm("Do you really want to delete this permission?")) {
                    let app = this;
                    let url = '/api/www/authorization/permissions/delete/' + id;
                    axios.post(url, {id: id, index: index})
                        .then(function (resp) {
                            console.log('Response: ', resp);
                            app.permissions.splice(index, 1);
                        })
                        .catch(function (resp) {
                            console.log('Response: ', resp);
                            alert("Could not delete permission");
                        });
                    this.dashed_item = {};
                }
            },
            changeEntity(alias) {
                this.search = '';
                this.alias = alias;
                switch(alias) {
                    case 'manager':
                        this.dashed_item = this.managers[0];
                        this.dashed_item.alias = 'manager';
                        break;
                    case 'role':
                        this.dashed_item = this.roles[0];
                        this.dashed_item.alias = 'role';
                        break;
                    case 'permission':
                        this.dashed_item = this.permissions[0];
                        this.dashed_item.alias = 'permission';
                        break;
                }
            }
        },
        watch: {
            managers_list: function () {
                this.managers = this.managers_list;
                this.dashed_item = this.managers[0];
                this.dashed_item.alias = 'manager';
            },
            roles_list: function () {
                this.roles = this.roles_list;
            },
            permissions_list: function () {
                this.permissions = this.permissions_list;
            },
        }
    }
</script>
