<template>
    <div>
        <PageHeading>
            <template #title>SETTINGS MAIN</template>
            <template #actions>
                <div class="title-action">
                    <a class="btn btn-primary" href="">This is action area</a>
                </div>
            </template>
        </PageHeading>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-xs-12">TEST PAGE</div>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeading from "../../components/PageHeading";
    export default {
        components: {PageHeading},
        middleware: 'auth'
    }
</script>
