<style lang="css">
  #reportrange {
    max-width: 320px;
  }
</style>

<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <PageHeading>
      <template v-slot:title>Analytics</template>
      <template v-slot:actions>
        <div class="title-action">
          <a class="btn btn-primary" href>This is action area</a>
        </div>
      </template>
    </PageHeading>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-4">
          <div>
            <h1 class="mb-0 font-64">27,311.00 $</h1>
            <p class="mb-5">Transactions current month</p>
            <div class="input-group">
              <label for class="mr-3">Date range:</label>
              <!-- <vue-ctk-date-time-picker></vue-ctk-date-time-picker> -->
              <TRVLPicker :checkin.sync="checkin" :checkout.sync="checkout" />
            </div>
          </div>
          <div class="mt-5" style="height: 250px; width: 500px;">
            <PieChart v-bind:chartData="chartData" />
          </div>
        </div>
        <div class="col-8 d-flex flex-column justify-content-end">
          <AreaChart />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from "../components/PageHeading";
import AreaChart from "../components/AreaChart";
import Sparkline from "../components/Sparkline";
import MainLayout from "../layouts/default";
import PieChart from "../components/PieChart";
import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import TRVLPicker from "@trvl/picker";
//import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

export default {
  components: {
    MainLayout,
    PageHeading,
    AreaChart,
    Sparkline,
    PieChart,
    TRVLPicker
    // VueCtkDateTimePicker
  },
  middleware: "auth",
  data: function() {
    return {
      checkin: new Date(),
      checkout: new Date(),
      chartData: [
        { value: 335, name: "Bonus" },
        { value: 310, name: "Deposit" },
        { value: 234, name: "Withdrawal" }
      ]
    };
  },
  computed: {
    dateRange() {
      $(function() {
        $('input[name="daterange"]').daterangepicker(
          {
            opens: "left"
          },
          function(start, end, label) {
            console.log(
              "A new date selection was made: " +
                start.format("YYYY-MM-DD") +
                " to " +
                end.format("YYYY-MM-DD")
            );
          }
        );
      });
    }
  }
};
</script>
