<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <PageHeading>
      <template v-slot:title>Dashboard</template>
      <template v-slot:actions>
        <div class="title-action">
          <!-- <a class="btn btn-primary" href="">This is action area</a> -->
        </div>
      </template>
    </PageHeading>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-5">
          <Table v-bind:tableData='newLeadsData' tableName='New leads' />
        </div>
        <div class="col-7">
          <Table v-bind:tableData="attempts" tableName='New Attempts To Open Deposits' />
        </div> 
      </div>
      <div class="row">
        <div class="col-7">
          <Table v-bind:tableData='deposits' tableName='Deposits' />
        </div>

        <div class="col-5">
          <div class="ibox">
            <div class="ibox-title">
              <h3>Registration Countries</h3>
            </div>
            <div class="ibox-content" style="height: 223px">
              <PieChart v-bind:chartData="chartData" style="height: 150px;" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <Table v-bind:tableData="failed" tableName="Recent Failed Deposites" />
        </div>

        <div class="col-6">
          <Table v-bind:tableData="tickets" tableName='Recent Tickets' />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from "../components/PageHeading";
import MainLayout from "../layouts/default";
import PieChart from "../components/PieChart";
import Table from "../components/Table";
// import echarts from "echarts";
// import ECharts from "vue-echarts";
// import "echarts-gl";
export default {
  components: { MainLayout, PageHeading, PieChart, Table },
  middleware: "auth",
  data: function() {
    return {
      newLeadsData: [
        { name: "Anna Paula Ferro", date: "2019-06-05" },
        { name: "Anna Paula Ferro", date: "2019-06-05" },
        { name: "Anna Paula Ferro", date: "2019-06-05" },
        { name: "Anna Paula Ferro", date: "2019-06-05" }
      ],
      attempts: [
        {
          id: "131",
          cash: "EUR 1,650.00",
          name: "Anna Paula Ferro",
          date: "2019-06-05 16:49:30"
        },
        {
          id: "16",
          cash: "EUR 1,650.00",
          name: "Anna Paula Ferro",
          date: "2019-06-05 16:49:30"
        },
        {
          id: "11",
          cash: "EUR 1,650.00",
          name: "Anna Paula Ferro",
          date: "2019-06-05 16:49:30"
        },
        {
          id: "5",
          cash: "EUR 1,650.00",
          name: "Anna Paula Ferro",
          date: "2019-06-05 16:49:30"
        }
      ],
      deposits: [
        {
          id: "131",
          cash: "EUR 1,650.00",
          name: "Anna Paula Ferro",
          date: "2019-06-05 16:49:30"
        },
        {
          id: "91",
          cash: "EUR 100.00",
          name: "Benavente",
          date: "2019-06-05 16:49:38"
        },
        {
          id: "100",
          cash: "EUR 250.00",
          name: "Anna Paula Ferro",
          date: "2019-06-05 16:49:30"
        },
        {
          id: "10",
          cash: "EUR 1,650.00",
          name: "Thomas Crow",
          date: "2019-06-05 16:50:30"
        }
      ],
      failed: [
        {
          cash: "EUR 1,650.00",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        },
        {
          cash: "EUR 1,650.00",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        },
        {
          cash: "EUR 1,650.00",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        },
        {
          cash: "EUR 1,650.00",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        }
      ],
      tickets: [
        {
          type: "Deposite",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        },
        {
          type: "Deposite",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        },
        {
          type: "Deposite",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        },
        {
          type: "Deposite",
          method: "Wire Trading",
          broker: "Anna Paula Ferro",
          trader: "Anna Paula Ferro"
        }
      ],
      chartData: [
        { value: "555", name: "Greate Britain" },
        { value: "256", name: "Germany" },
        { value: "111", name: "Ukraine" },
        { value: "26", name: "Russian" }
      ]
    };
  },
  computed: {}
};
</script>
