<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <PageHeading>
      <template v-slot:title>Desks</template>
      <template v-slot:actions>
        <div class="title-action">
          <!-- <a class="btn btn-primary" href="">This is action area</a> -->
        </div>
      </template>
    </PageHeading>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="add-table col-12">
          <button class="add-btn">+</button>
          <p class="add-description">Add New Desk</p>
        </div>
      </div>
      <div class="row tables-wrapper">
        <div class="col-6">
          <Table v-bind:tableData='ftd' tableName='FTD' />
        </div>
        <div class="col-6">
          <Table v-bind:tableData='ret' tableName='RET'/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from "../components/PageHeading";
import MainLayout from "../layouts/default";
import Table from '../components/Table';
export default {
  components: { MainLayout, PageHeading, Table },
  middleware: "auth",
  data: function() {
      return {
          ftd: [
              {traders: '5055 traders', cash: '5,677$'}
          ],
          ret: [
              {traders: '0 trades', cash: '0$'}
          ]
      }
  }
};
</script>

<style scoped>
.add-table {
  
  border-radius: 25px;
  display: flex;
}
.add-btn {
  border: none;
  background: none;
  font-size: 25px;
  color: #000;
}
.add-description {
  margin-left: 25px;
  font-size: 18px;
  margin-top: 17px;
}
.tables-wrapper {
    margin-top: 20px;
}
</style>
