<template>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">Crypto</h1>

            </div>
            <h3>Register to CRM</h3>
            <p>Create account to see it in action.</p>
            <form @keydown="form.onKeydown($event)" @submit.prevent="register" class="m-t" role="form">
                <div class="form-group">
                    <input class="form-control" placeholder="Name" required="" type="text" v-model="form.name">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Email" required="" type="email" v-model="form.email">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" required="" type="password" v-model="form.password">
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/">Login</a>
            </form>
            <p class="m-t">
                <small>© Copyright</small>
            </p>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Form from 'vform'

    export default {
        layout: 'basic',

        middleware: 'guest',

        metaInfo() {
            return {title: this.$t('register')}
        },

        data: () => ({
            form: new Form({
                name: '',
                email: '',
                password: ''
            }),
            remember: false
        }),

        // computed: mapGetters({
        //     authenticated: 'auth/check'
        // }),

        methods: {
            async register() {
                // Submit the form.
                const {data} = await this.form.post('/api/www/auth/register');

                // Fetch the user.
                await this.$store.dispatch('auth/fetchUser');

                // Redirect home.
                this.$router.push({name: 'dashboard'})
            }
        }
    }
</script>