<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <PageHeading>
      <template v-slot:title>Reports</template>
      <template v-slot:actions>
        <div class="title-action">
        </div>
      </template>
    </PageHeading>
    <div class="wrapper wrapper-content">
          <div class="row">
            <div class="add-table col-12">
              <button class="add-btn">+</button>
              <p class="add-description">Add New Campaigns</p>
          </div>
          </div>
        <div class="row">
            <div class="col-4">
                <Table v-bind:tableData='plataLeads' tableName='Plata Leads Vlad IT'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='cit' tableName='CIT Admin Admin'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='allifoot' tableName='Allifoot Admin Admin'/>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <Table v-bind:tableData='plataLeads' tableName='Plata Leads Vlad IT'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='cit' tableName='CIT Admin Admin'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='allifoot' tableName='Allifoot Admin Admin'/>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <Table v-bind:tableData='plataLeads' tableName='Plata Leads Vlad IT'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='cit' tableName='CIT Admin Admin'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='allifoot' tableName='Allifoot Admin Admin'/>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <Table v-bind:tableData='plataLeads' tableName='Plata Leads Vlad IT'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='cit' tableName='CIT Admin Admin'/>
            </div>
            <div class="col-4">
              <Table v-bind:tableData='allifoot' tableName='Allifoot Admin Admin'/>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import PageHeading from "../components/PageHeading";
import MainLayout from "../layouts/default";
import Table from '../components/Table';
export default {
  components: { MainLayout, PageHeading, Table },
  middleware: "auth",
  data: function() {
      return {
          plataLeads: [
            {redeposits: '0.00$', ftd: '0.00$', visited: '000'}
          ],
          cit: [
            {redeposits: '100.00$', ftd: '15.00$', visited: '2'}
          ],
          allifoot: [
            {redeposits: '170.00$', ftd: '25.00$', visited: '3'}
          ]
      }
  }
};
</script>

<style scoped>
.add-table {
  
  border-radius: 25px;
  display: flex;
}
.add-btn {
  border: none;
  background: none;
  font-size: 25px;
  color: #000;
}
.add-description {
  margin-left: 25px;
  font-size: 18px;
  margin-top: 17px;
}
</style>
