<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <PageHeading>
            <template v-slot:title>Tickets</template>
            <template v-slot:actions>
                <div class="title-action">
                    <!-- <a class="btn btn-primary" href="">This is action area</a> -->
                </div>
            </template>
        </PageHeading>
        <div class="wrapper wrapper-content">
        
        </div>
    </div>

</template>

<script>
    import PageHeading from "../components/PageHeading";
    import MainLayout from "../layouts/default";
    export default {
        components: {MainLayout, PageHeading},
        middleware: 'auth',

    }
</script>
