<style lang="css">
    .btn-new-trader {
        position: absolute;
        top: 15px;
        right: 20px;
    }
</style>

<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <PageHeading>
            <template v-slot:title>Trades</template>
            <template v-slot:actions>
                <div class="title-action">
                    <!-- <a class="btn btn-primary" href="">This is action area</a> -->
                </div>
            </template>
        </PageHeading>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-8">
                    <div class="ibox">
                        <div class="ibox-title position-relative">
                            <h3>Traders list</h3>
                            <button class="btn btn-primary btn-sm btn-new-trader" data-toggle="modal" data-target="#newTraderModal">{{$t('new')}}</button>
                            <div class="modal inmodal" id="newTraderModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <i class="fa fa-address-card-o modal-icon"></i>
                                            <h4 class="modal-title">Add new trader</h4>
                                            <small class="font-bold">A new trader will be created with authority</small>
                                        </div>
                                        <form id="form-new-manager" v-on:submit="createTrader">
                                        <div class="modal-body">
                                            <p>Please fill in all the required fields of the form, then press the <strong>"Create account"</strong> button.</p>
                                            <div class="form-group">
                                                <label>{{$t('name')}}</label>
                                                <input type="text" name="name" placeholder="Enter name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{$t('email')}}</label>
                                                <input type="email" name="email" placeholder="Enter email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{$t('manager')}}</label>
                                                <select name="manager" id="" class="form-control">
                                                    <option v-for="(item, index) in managers" v-bind:key="index" v-bind:value="item.id">{{ item.name }}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>{{$t('balance')}}</label>
                                                <input type="text" name="balance" placeholder="Enter balance" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{$t('factor')}}</label>
                                                <input type="text" name="factor" placeholder="Enter factor" class="form-control">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">{{$t('close')}}</button>
                                            <button type="submit" class="btn btn-primary">{{$t('add')}}</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Manager</th>
                                        <th>Balance</th>
                                        <th>Factor</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in traders" v-bind:key="index">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.manager_name }}</td>
                                        <td>${{ item.balance }}</td>
                                        <td>x {{ item.factor }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#traderEditModal" v-on:click="editTrader(item)"> Edit</button>
                                            <button class="btn btn-sm btn-danger" v-on:click="removeTrader(item.id, index)"> Remove</button>
                                            <div class="modal inmodal" id="traderEditModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content animated bounceInRight">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <i class="fa fa-address-card-o modal-icon"></i>
                                                            <h4 class="modal-title">Edit trader <strong>{{ current_trader.name }}</strong></h4>
                                                            <small class="font-bold">A new trader will be created with trader authority</small>
                                                        </div>
                                                        <form id="form-edit-manager" v-on:submit="updateTrader">
                                                            <div class="modal-body">
                                                                <p>Please fill in all the required fields of the form, then press the <strong>"Update"</strong> button.</p>
                                                                <div class="form-group">
                                                                    <label>{{$t('name')}}</label>
                                                                    <input type="text" name="name" placeholder="Enter name" class="form-control" v-model="current_trader.name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('email')}}</label>
                                                                    <input type="email" name="email" placeholder="Enter email" class="form-control" v-model="current_trader.email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('manager')}}</label>
                                                                    <select name="manager" id="" class="form-control" v-model="current_trader.manager_id">
                                                                        <option v-for="(item, index) in managers" v-bind:key="index" v-bind:value="item.id">{{ item.name }}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('balance')}}</label>
                                                                    <input type="text" name="balance" placeholder="Enter balance" class="form-control" v-model="current_trader.balance">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('factor')}}</label>
                                                                    <input type="text" name="factor" placeholder="Enter factor" class="form-control" v-model="current_trader.factor">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">{{$t('update')}}</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="ibox">
                        <div class="ibox-title">
                          
                        </div>
                        <div class="ibox-content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import PageHeading from "../components/PageHeading";
    import MainLayout from "../layouts/default";
    import axios from "axios";

    export default {
        components: {MainLayout, PageHeading},
        middleware: 'auth',
        data: function () {
            return {
                manager_id: 0,
                managers: [],
                traders: [],
                current_trader: {
                    id: 0,
                    name: '',
                    email: '',
                    manager_id: 0
                }
            }
        },
        computed: {
            user() {
                return this.$store.getters["auth/user"] || 0;
            },
            traders_list() {
                return this.$store.getters["traders/traders"] || [];
            },
            managers_list() {
                return this.$store.getters["managers/managers"] || [];
            }
        },
        mounted() {
            this.$store.dispatch('traders/getTraders');
            this.$store.dispatch('managers/getManagers');
        },
        methods: {
            createTrader(submitEvent) {
                let trader_name = submitEvent.target.elements.name.value;
                let trader_email = submitEvent.target.elements.email.value;
                let manager_id = submitEvent.target.elements.manager.value;
                let balance = submitEvent.target.elements.balance.value;
                let factor = submitEvent.target.elements.factor.value;

                let url = '/api/www/traders/create';
                let new_trader = {
                    name: trader_name,
                    email: trader_email,
                    manager_id: manager_id,
                    balance: balance,
                    factor: factor
                };
                axios.post(url, new_trader)
                    .then((response) => {
                        console.log(response);
                    })
            },
            editTrader(trader) {
                this.current_trader.id = trader.id;
                this.current_trader.name = trader.name;
                this.current_trader.email = trader.email;
                this.current_trader.manager_id = trader.manager_id;
                this.current_trader.balance = trader.balance;
                this.current_trader.factor = trader.factor;
            },
            updateTrader(submitEvent) {
                let id = this.current_trader.id;
                let trader_name = submitEvent.target.elements.name.value;
                let trader_email = submitEvent.target.elements.email.value;
                let trader_manager_id = submitEvent.target.elements.manager.value;
                let balance = submitEvent.target.elements.balance.value;
                let factor = submitEvent.target.elements.factor.value;

                let url = '/api/www/traders/edit/' + id;
                let edited_trader = {
                    id: id,
                    name: trader_name,
                    email: trader_email,
                    manager_id: trader_manager_id,
                    balance: balance,
                    factor: factor
                };
                axios.post(url, edited_trader)
                    .then((response) => {
                        console.log(response);
                    })
            },
            removeTrader(id, index) {
                if (confirm("Do you really want to remove this trader?")) {
                    let app = this;
                    let url = '/api/www/traders/delete/' + id;
                    axios.post(url, {id: id})
                        .then(function (resp) {
                            console.log('Response: ', resp);
                            app.managers.splice(index, 1);
                        })
                        .catch(function (resp) {
                            console.log('Response: ', resp);
                            alert("Could not delete trader");
                        });
                }
            }
        },
        watch: {
            user: function() {
                this.manager_id = this.user.id;
            },
            traders_list: function() {
                this.traders = this.traders_list;
            }
            ,
            managers_list: function() {
                this.managers = this.managers_list;
            }
        }
    }
</script>
