<template>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <img src="img/megatrade.svg" alt="" style="width: 360px; margin-top: 160px; margin-bottom: 48px;">

            </div>
            <!-- <h3>Welcome to CRM</h3>
            <p>Login in. To see allowed actions.</p> -->
            <form @keydown="form.onKeydown($event)" @submit.prevent="login" class="m-t" role="form">
                <div class="form-group">
                    <input class="form-control" placeholder="Email" required="" type="email" v-model="form.email">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" required="" type="password" v-model="form.password">
                </div>
                <button class="btn btn-primary block full-width m-b" type="submit">Login</button>

                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/register">Create an account</a>
            </form>
            <p class="m-t">
                <small>© Copyright</small>
            </p>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Form from 'vform'

    export default {
        layout: 'basic',

        middleware: 'guest',

        metaInfo() {
            return {title: this.$t('login')}
        },

        data: () => ({
            form: new Form({
                email: '',
                password: ''
            }),
            remember: true
        }),

        // computed: mapGetters({
        //     authenticated: 'auth/check'
        // }),

        methods: {
            async login() {
                // Submit the form.
                const {data} = await this.form.post('/api/www/auth/login');



                // Save the token.
                this.$store.dispatch('auth/saveToken', {
                    token: data.token,
                    remember: this.remember
                });

                // Fetch the user.
                await this.$store.dispatch('auth/fetchUser');

                // Redirect home.
                this.$router.push({name: 'dashboard'})
            }
        }
    }
</script>
