<style lang="css">
    .btn-new-user {
        position: absolute;
        top: 15px;
        right: 15px;
    }
</style>

<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <PageHeading>
            <template v-slot:title>Workers</template>
            <template v-slot:actions>
                <div class="title-action">
                    <!-- <a class="btn btn-primary" href="">This is action area</a> -->
                </div>
            </template>
        </PageHeading>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-8">
                    <div class="ibox">
                        <div class="ibox-title position-relative">
                            <h3>Users list</h3>
                            <button class="btn btn-primary btn-sm btn-new-user" data-toggle="modal" data-target="#newUserModal">{{$t('new')}}</button>
                            <div class="modal inmodal" id="newUserModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <i class="fa fa-address-card-o modal-icon"></i>
                                            <h4 class="modal-title">Add new user</h4>
                                            <small class="font-bold">A new user will be created with authority</small>
                                        </div>
                                        <form id="form-new-manager" v-on:submit="createUser">
                                        <div class="modal-body">
                                            <p>Please fill in all the required fields of the form, then press the <strong>"Create account"</strong> button.</p>
                                            <div class="form-group">
                                                <label>{{$t('name')}}</label>
                                                <input type="text" name="name" placeholder="Enter name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{$t('email')}}</label>
                                                <input type="email" name="email" placeholder="Enter email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{$t('password')}}</label>
                                                <input type="text" name="password" placeholder="Enter password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">{{$t('close')}}</button>
                                            <button type="submit" class="btn btn-primary">{{$t('add')}}</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>User role</th>
                                        <th>Registration date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in users" v-bind:key="index">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>
                                            <span v-if="item.role_id == 1" class="text-primary">Super admin</span>
                                            <span v-if="item.role_id == 2" class="text-warning">Admin</span>
                                            <span v-if="item.role_id == 3" class="text-danger">Manager</span>
                                        </td>
                                        <td>{{ item.created_at }}</td>
                                        <td>
                                            <button v-if="item.role_id >= role" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#userEditModal" v-on:click="editUser(item)"> Edit</button>
                                            <button v-if="item.role_id >= role" class="btn btn-sm btn-danger" v-on:click="removeUser(item.id, index)"> Remove</button>
                                            <span v-if="item.role_id < role" class="text-danger">No access</span>
                                            <div class="modal inmodal" id="userEditModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content animated bounceInRight">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <i class="fa fa-address-card-o modal-icon"></i>
                                                            <h4 class="modal-title">Edit user <strong>{{current_user.name}}</strong></h4>
                                                            <small class="font-bold">A new user will be created with user authority</small>
                                                        </div>
                                                        <form id="form-edit-manager" v-on:submit="updateUser">
                                                            <div class="modal-body">
                                                                <p>Please fill in all the required fields of the form, then press the <strong>"Update"</strong> button.</p>
                                                                <div class="form-group">
                                                                    <label>{{$t('name')}}</label>
                                                                    <input type="text" name="name" placeholder="Enter name" class="form-control" v-model="current_user.name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('email')}}</label>
                                                                    <input type="email" name="email" placeholder="Enter email" class="form-control" v-model="current_user.email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{$t('role')}}</label>
                                                                    <select name="role" id="" class="form-control" v-model="current_user.role_id">
                                                                        <option value="1" v-if="role == 1">Super admin</option>
                                                                        <option value="2" v-if="role == 1 || role == 2">Admin</option>
                                                                        <option value="3">Manager</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">{{$t('update')}}</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h3>Tasks</h3>
                        </div>
                        <div class="ibox-content">
                            <ul class="todo-list m-t small-list">
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Аутентификация</span>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Регистрация</span>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Добавление юзеров супер-админом</span>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Редактировать статус юзера</span>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-check-square"></i> </a>
                                    <span class="m-l-xs todo-completed">Разрешения для ролей юзеров</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PageHeading from "../components/PageHeading";
    import MainLayout from "../layouts/default";
    import axios from "axios";

    export default {
        components: {MainLayout, PageHeading},
        middleware: 'auth',
        data: function () {
            return {
                users: [],
                current_user: {
                    id: 0,
                    name: '',
                    email: '',
                    role_id: 0
                }
            }
        },
        computed: {
            role() {
                return this.$store.getters["auth/role"] || 0;
            },
            users_list() {
                return this.$store.getters["users/users"] || [];
            }
        },
        mounted() {
            this.$store.dispatch('users/getUsers');
        },
        methods: {
            createUser(submitEvent) {
                let user_name = submitEvent.target.elements.name.value;
                let user_email = submitEvent.target.elements.email.value;
                let user_password = submitEvent.target.elements.password.value;

                let url = '/api/www/users/create';
                let new_user = {
                    name: user_name,
                    email: user_email,
                    password: user_password
                };
                axios.post(url, new_user)
                    .then((response) => {
                        console.log(response);
                    })
            },
            editUser(user) {
                this.current_user.id = user.id;
                this.current_user.name = user.name;
                this.current_user.email = user.email;
                this.current_user.role_id = user.role_id;
            },
            updateUser(submitEvent) {
                let id = this.current_user.id;
                let user_name = submitEvent.target.elements.name.value;
                let user_email = submitEvent.target.elements.email.value;
                let user_role_id = submitEvent.target.elements.role.value;

                let url = '/api/www/users/edit/' + id;
                let edited_user = {
                    id: id,
                    name: user_name,
                    email: user_email,
                    role_id: user_role_id
                };
                axios.post(url, edited_user)
                    .then((response) => {
                        console.log(response);
                    })
            },
            removeUser(id, index) {
                if (confirm("Do you really want to remove this user?")) {
                    let app = this;
                    let url = '/api/www/users/delete/' + id;
                    axios.post(url, {id: id})
                        .then(function (resp) {
                            console.log('Response: ', resp);
                            app.managers.splice(index, 1);
                        })
                        .catch(function (resp) {
                            console.log('Response: ', resp);
                            alert("Could not delete user");
                        });
                }
            }
        },
        watch: {
            users_list: function () {
                this.users = this.users_list;
            }
        }
    }
</script>
