<style lang="css">
    .flot-chart-content {
        height: 360px;
    }
</style>

<template>
    <div class="flot-chart m-b-xl">
        <div class="flot-chart-content" id="flot-dashboard5-chart">{{ chartData }}</div>
    </div>
</template>

<script>

    import '../../../public/js/plugins/flot/jquery.flot.js';
    import '../../../public/js/plugins/flot/jquery.flot.tooltip.min.js';
    import '../../../public/js/plugins/flot/jquery.flot.spline.js';

    export default {
        name: 'AreaChart',
        data: function () {
            return {
                
            }
        },
        computed: {
            chartData() {
                $(function() {
                    var data1 = [
                        [2003,1425],[2004,2861],[2005,1586],[2006,3064],[2007,24097],[2008,1625],[2009,3511],[2010,1914],[2011,12641],[2012,28110],[2013,5202],[2014,3105],[2015,2123],[2016,11499],[2017,1724],[2018,12814],[2019,3121]
                    ];
                    var data2 = [
                        [2003,4092],[2004,2151],[2005,17624],[2006,4412],[2007,1112],[2008,4745],[2009,22124],[2010,5980],[2011,1115],[2012,5907],[2013,4685],[2014,1124],[2015,15234],[2016,2516],[2017,5473],[2018,1224],[2019,10956]
                    ];
                    $("#flot-dashboard5-chart").length && $.plot($("#flot-dashboard5-chart"), [
                            data1,  data2
                        ],
                        {
                            series: {
                                bars: {
                                    
                                },
                                lines: {
                                    show: false,
                                    fill: true
                                },
                                splines: {
                                    show: true,
                                    tension: 0.4,
                                    lineWidth: 1,
                                    fill: 0.4
                                },
                                points: {
                                    radius: 0,
                                    show: true
                                },
                                shadowSize: 2
                            },
                            grid: {
                                hoverable: true,
                                clickable: true,
                                color: 'transparent',
                                borderWidth: 1,
                                //borderColor: '#D9D9D9'
                            },
                            colors: ["#1ab394", "#1C84C6"],
                            xaxis:{

                            },
                            yaxis: {
                                
                            },
                            tooltip: false
                        }
                    );
                });
            }
        }
    }
</script>