<template>
    <button :class="{
    [`btn-${type}`]: true,
    'btn-block': block,
    'btn-lg': large,
    'btn-loading': loading
  }" :disabled="loading" :type="nativeType" class="btn"
    >
        <slot/>
    </button>
</template>

<script>
    export default {
        name: 'VButton',

        props: {
            type: {
                type: String,
                default: 'primary'
            },

            nativeType: {
                type: String,
                default: 'submit'
            },

            loading: {
                type: Boolean,
                default: false
            },

            block: {
                type: Boolean,
                default: false
            },

            large: {
                type: Boolean,
                default: false
            }
        }
    }
</script>
