<style lang="css">
    .databox {
        border-radius: 8px;
        background: #455a64;
    }
    .databox .title {
        color: #fff;
        font-size: 18px;
    }
    .databox .inner {
        border-radius: 8px;
        background: #546e7a;
    }
    .databox .inner .subtitle {
        color: #fff;
        font-size: 16px;
    }
    .databox .inner .subtitle {
        color: #fff;
        font-size: 16px;
    }
    .databox .inner .content {
        border-radius: 8px;
        background: #607d8b;
    }
</style>

<template>
    <div class="databox">
        <h3 class="title">Data title</h3>
        <div class="inner">
            <div class="table">
                <thead>

                </thead>
                <tbody>
                    
                </tbody>
            </div>
        </div>
    </div>
</template>

<script>

    export default {

    }
</script>