<template>
    <div class="ibox ">
        <div class="ibox-title" v-if="hasTitleSlot">
            <h5>
                <slot name="ibox-title"></slot>
            </h5>
        </div>
        <div class="ibox-content">
            <slot name="ibox-content"></slot>
        </div>
        <div class="ibox-footer" v-if="hasFooterSlot">
            <slot name="ibox-footer"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'IBox',
        computed: {
            hasTitleSlot() {
                return !!this.$slots['ibox-title']
            },
            hasFooterSlot() {
                return !!this.$slots['ibox-footer']
            }
        }
    }
</script>
