<template>
    <div>

    </div>
</template>

<script>
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        name: 'LoadingView',
        props : {
            isLoading: Boolean
        },
        computed: {
            hasTitleSlot() {
                return !!this.$slots['ibox-title']
            },
            hasFooterSlot() {
                return !!this.$slots['ibox-footer']
            }
        }
    }
</script>
