<template>
    <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-flag"></i> {{ locales[locale] }}
        </a>
        <ul class="dropdown-menu">
            <li v-for="(value, key) in locales">
                <div class="text-center link-block">
                    <a class="dropdown-item" :key="key" @click.prevent="setLocale(key)">
                        <strong>{{ value }}</strong>
                        <i class="fa fa-check text-navy" v-if="locales[locale] === value"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {loadMessages} from '../plugins/i18n'

    export default {
        computed: mapGetters({
            locale: 'lang/locale',
            locales: 'lang/locales'
        }),

        methods: {
            setLocale(locale) {
                if (this.$i18n.locale !== locale) {
                    loadMessages(locale)

                    this.$store.dispatch('lang/setLocale', {locale})
                }
            }
        }
    }
</script>
