<template>
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img class="rounded-circle user-avatar" :src="avatarGen(user.image)" alt="Avatar">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="block m-t-xs font-bold" v-once>{{ user.name }}</span>
                            <span class="text-muted text-xs block" v-once>{{ user.email }} <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="#">{{ $t('profile') }}</a></li>
                                <li><a class="dropdown-item" href="#">{{ $t('contacts') }}</a></li>
                                <li><a class="dropdown-item" href="#">{{ $t('mailbox') }}</a></li>
                            <li class="dropdown-divider"></li>

                            <li><a @click.prevent="logout" class="dropdown-item" href="#">{{ $t('logout') }}</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

                <router-link :to="{ name: 'dashboard' }" tag="li"  :class="{' active': subIsActive('/dashboard')}" >
                    <a href="#">
                        <i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'desks' }" tag="li"  :class="{' active': subIsActive('/desks')}" >
                    <a href="#">
                        <i class="fa fa-window-restore" aria-hidden="true"></i> <span class="nav-label">Desks</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'trasnactions' }" tag="li"  :class="{' active': subIsActive('/trasnactions')}" >
                    <a href="#">
                        <i class="fa fa-usd" aria-hidden="true"></i> <span class="nav-label">Trasnactions</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'trades' }" tag="li"  :class="{' active': subIsActive('/trades')}" >
                    <a href="#">
                        <i class="fa fa-link" aria-hidden="true"></i> <span class="nav-label">Trades</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'tickets' }" tag="li"  :class="{' active': subIsActive('/tickets')}" >
                    <a href="#">
                        <i class="fa fa-ticket" aria-hidden="true"></i> <span class="nav-label">Tickets</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'reports' }" tag="li"  :class="{' active': subIsActive('/reports')}" >
                    <a href="#">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i> <span class="nav-label">Reports</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'analytics' }" tag="li"  :class="{' active': subIsActive('/analytics')}" >
                    <a href="#">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> <span class="nav-label">Analytics</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'campaigns' }" tag="li"  :class="{' active': subIsActive('/campaigns')}" >
                    <a href="#">
                        <i class="fa fa-cubes" aria-hidden="true"></i> <span class="nav-label">Campaigns</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'mailer' }" tag="li"  :class="{' active': subIsActive('/mailer')}" >
                    <a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i> <span class="nav-label">Mailer</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'layouts' }" tag="li"  :class="{' active': subIsActive('/layouts')}" >
                    <a href="#">
                        <i class="fa fa-object-ungroup" aria-hidden="true"></i> <span class="nav-label">Layouts</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'workers' }" tag="li"  :class="{' active': subIsActive('/workers')}" >
                    <a href="#">
                        <i class="fa fa-meh-o" aria-hidden="true"></i> <span class="nav-label">Workers</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'chats' }" tag="li"  :class="{' active': subIsActive('/chats')}" >
                    <a href="#">
                        <i class="fa fa-weixin" aria-hidden="true"></i> <span class="nav-label">Chats</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'calendar' }" tag="li"  :class="{' active': subIsActive('/calendar')}" >
                    <a href="#">
                        <i class="fa fa-calendar" aria-hidden="true"></i> <span class="nav-label">Calendar</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'communications' }" tag="li"  :class="{' active': subIsActive('/communications')}" >
                    <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label">Communications</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'logs' }" tag="li"  :class="{' active': subIsActive('/logs')}" >
                    <a href="#">
                        <i class="fa fa-history" aria-hidden="true"></i> <span class="nav-label">Logs</span>
                    </a>
                </router-link>
                <router-link :to="{ name: 'positions' }" tag="li"  :class="{' active': subIsActive('/positions')}" >
                    <a href="#">
                        <i class="fa fa-object-group" aria-hidden="true"></i> <span class="nav-label">Positions</span>
                    </a>
                </router-link>
                
                <!-- <li :class="{' active': subIsActive('/system')}">
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">{{ $t('system') }}</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <router-link :to="{ name: 'system.authorization' }" tag="li" active-class="active">
                            <a href="#">{{ $t('authorization') }}</a>
                        </router-link>
                    </ul>
                </li> -->
            </ul>
        </div>
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        components: {

        },
        data: () => ({
            appName: window.config.appName,
            avatar_src: ''
        }),
        computed: mapGetters({
            user: 'auth/user'
        }),
        methods: {
            async logout() {
                // Log out the user.
                await this.$store.dispatch('auth/logout');

                // Redirect to login.
                this.$router.push({name: 'welcome'})
            },
            subIsActive(input) {
                const paths = Array.isArray(input) ? input : [input]
                return paths.some(path => {
                    return this.$route.path.indexOf(path) === 0 // current path starts with this path string
                })
            },
            avatarGen(image) {
                return '/img/avatars/' + image;
            }
        }
    }
</script>
