<template>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-6">
            <h2><slot name="title"></slot></h2>
            <breadcrumbs></breadcrumbs>
        </div>
        <div class="col-sm-6">
            <slot name="actions"></slot>
           <!-- <div class="title-action">
                <a class="btn btn-primary" href="">This is action area</a>
            </div>-->
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data: () => ({
            appName: window.config.appName
        }),

        computed: mapGetters({
            user: 'auth/user'
        }),

        methods: {
            async logout() {
                // Log out the user.
                await this.$store.dispatch('auth/logout');

                // Redirect to login.
                this.$router.push({name: 'welcome'})
            }
        }
    }
</script>
