<template>
  <div class="" style="height: 100%;">
    <div id="container" style="height: 100%">{{ strangeChartData }}</div>
  </div>

</template>

<script>
import echarts from 'echarts';
import ECharts from 'vue-echarts';
import 'echarts-gl';
export default {
    name: 'PieChart',
    props: ['chartData'],
    data: function() {
        return {

        }
    },
    computed: {
        strangeChartData() {
            const self = this.chartData;
                $(function () {
                    var dom = document.getElementById("container");
                    var myChart = echarts.init(dom);
                    var app = {};
                    var option = null;
                    app.title = 'App title';


                    option = {
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b}: {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            data:[
                                "Bonus",
                                "Deposit",
                                "Withdrawal",
                                "erfffd"
                            ]
                        },
                        series: [
                            {
                                name:'Использование приложения:',
                                type:'pie',
                                avoidLabelOverlap: false,
                                label: {
                                    normal: {
                                        show: false,
                                        //position: 'outside',
                                        formatter: "{d}%",
                                        color: '#676a6c'
                                    },
                                    emphasis: {
                                        show: false,
                                        textStyle: {
                                            fontSize: '30',
                                            fontWeight: 'bold'
                                        }
                                    }
                                },
                                labelLine: {
                                    normal: {
                                        show: false
                                    }
                                },

                                // data:[
                                //     {value:335, name:"Bonus"},
                                //     {value:310, name:"Deposit"},
                                //     {value:234, name:"Withdrawal"}
                                // ],
                                data: self,
                                color: [ "#ff5079", "#50ff7f", "#7f50ff", "#50ffd7", "#ffd750", "#ff7f50", "#5079ff"]
                            }
                        ]
                    };

                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }

                });
           }
    }
};
</script>

<style scoped>
</style>