<template>
    <div class="ibox-content">
        <h5>{{$t('delay')}} +1</h5>
        <h2>5,781,198</h2>
        <div id="sparkline1">{{ data }}</div>
    </div>
</template>

<script>

    import '../../../public/js/plugins/sparkline/jquery.sparkline.min.js';

    export default {
        name: 'Sparkline',
        data: function () {
            return {

            }
        },
        computed: {
            data() {
                $(document).ready(function() {

                    var sparklineCharts = function(){
                        $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                            type: 'line',
                            width: '100%',
                            height: '60',
                            lineColor: '#1ab394',
                            fillColor: "#ffffff"
                        });
                    };

                    var sparkResize;

                    $(window).resize(function(e) {
                        clearTimeout(sparkResize);
                        sparkResize = setTimeout(sparklineCharts, 500);
                    });

                    sparklineCharts();


                });
            }
        }
    }
</script>