<template>
    <div class="ibox">
            <div class="ibox-title">
              <h3>{{tableName}}</h3>
            </div>
            <div class="ibox-content">
              <table class="table table-striped table-hover">
                <thead>
                  <tr v-for='(item, index) in getKey(tableData)' v-bind:key='index'>
                    <th v-for="(element, index) in item" v-bind:key='index'>{{ucFirst(element)}}</th>
                    <!-- <span v-for="(value, index) in item[index]" v-bind:key="index">{{item[index]}}</span> -->
                    <!-- <th>{{key}}</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in tableData" v-bind:key="index">
                    <td v-for="(value, index) in item" v-bind:key="index">{{value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
</template>

<script>
import { constants } from 'crypto';
export default {
    name: 'Table',
    props: ['tableName', 'tableData'],
    data: function () {
      return { data: [] }
    },
    methods: {
        getKey: function(props) {
            const element = props.map((el) => Object.keys(el));
            const newArr = [...element];
            newArr.splice(1, newArr.length - 1)
            console.log(newArr);
            return newArr;
        },
        ucFirst: function(str) {
            if (!str) return str;
            return str[0].toUpperCase() + str.slice(1);
        }
    },
    
    watch: {
        table_data: function() {
            this.data = this.getKey(tableData);
        }
    }
}
</script>

<style scoped>

</style>