<template>
    <div class="template-content">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'BasicLayout',
        mounted() {
            this.$toggleBodyClass('gray-bg', true);
        },
    }
</script>
