<style lang="css">

</style>

<template>
    <div id="wrapper">

        <Navbar/>

        <div class="gray-bg" id="page-wrapper">
            <TopNavbar/>
            <router-view/>
            <Footer/>
        </div>
        <div class="small-chat-box fadeInRight animated">

            <div class="heading" draggable="true">
                <small class="chat-date float-right">
                    02.19.2015
                </small>
                Small chat
            </div>

            <div class="content">

                <div class="left">
                    <div class="author-name">
                        Monica Jackson <small class="chat-date">
                        10:02 am
                    </small>
                    </div>
                    <div class="chat-message active">
                        Lorem Ipsum is simply dummy text input.
                    </div>

                </div>
                <div class="right">
                    <div class="author-name">
                        Mick Smith
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        Lorem Ipsum is simpl.
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Alice Novak
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        Check this stock char.
                    </div>
                </div>
                <div class="right">
                    <div class="author-name">
                        Anna Lamson
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        The standard chunk of Lorem Ipsum
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Mick Lane
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        I belive that. Lorem Ipsum is simply dummy text.
                    </div>
                </div>


            </div>
            <div class="form-chat">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                    <span class="input-group-btn"> <button
                        class="btn btn-primary" type="button">Send
                </button> </span></div>
            </div>

        </div>
        <div id="small-chat" v-on:click="toggleChat()">
            <span class="badge badge-warning float-right">5</span>
            <a class="open-small-chat">
                <i class="fa fa-comments" style="color: #fff;"></i>
            </a>
        </div>
    </div>
</template>

<script>
    import Navbar from "../components/Navbar";
    import TopNavbar from "../components/TopNavbar";
    import PageHeading from "../components/PageHeading";
    import Footer from "../components/Footer";

    export default {
        name: 'MainLayout',
        components: {Footer, PageHeading, TopNavbar, Navbar},
        mounted() {
            Promise.all([
                this.$lazyLoad("/js/plugins/metisMenu/jquery.metisMenu.js"),
                this.$lazyLoad("/js/plugins/sweetalert/sweetalert.min.js"),
                this.$lazyLoad("/css/plugins/sweetalert/sweetalert.css"),
            ]).then(() => {
                // MetisMenu
                var sideMenu = $('#side-menu').metisMenu();
            });

            this.$toggleBodyClass('gray-bg', false);
        },
        methods: {
            toggleChat() {
                //e.preventDefault();
                $(this).children().toggleClass('fa-comments').toggleClass('fa-times');
                $('.small-chat-box').toggleClass('active');
            }
        }
    }
</script>
